<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>

        <rewrite>
            <rules>
                <rule name="Home page Redirect to default language page" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="/en/" />
                </rule>

                <rule name="redirect all requests" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="index.cfm/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>

    </system.webServer>
</configuration>
